<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/tomcat8/data-submission-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>debug.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>       <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.ghap.oauth.OAuth20AuthenticationRequestFilter" level="INFO"/>
    <logger name="com.netflix.config.AbstractPollingScheduler" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>
