<div class="input-cont">
  <label>{{isNew ? 'New' : ''}} Password</label>
  <input class="text-input"
         type="password"
         name="password"
         ng-model="password"
         ng-change="checkConds()">
  <div class="desc">
    <p>Password should contain:</p>
    <ul class="password-options">
      <li ng-class="{green: hasUpperCase}">Uppercase alpha characters (A-Z)</li>
      <li ng-class="{green: hasLowCase}">Lowercase alpha characters (a-z)</li>
      <li ng-class="{green: hasDigits}">Digits (0-9)</li>
      <li ng-class="{green: hasNonAlphas}">Non-alphanumeric characters (e.g. !@#$%^&*(){}[]`~)</li>
      <li ng-class="{green: moreThen7}">Be a minimum of eight (8) characters in length</li>
    </ul>
  </div>
</div>
<div class="input-cont">
  <label>{{isNew ? 'New' : ''}} Password confirmation</label>
  <input class="text-input"
         type="password"
         name="passwordConfirmation"
         ng-model="passwordConfirmation">
</div>