*.log
TESTS-*.xml
coverage
node_modules
dist
.tmp
.sass-cache
bower_components
.idea
.gradle
.settings
build
.classpath
.project
/bin/
.tmp/
.sass-cache/
/src/main/webapp/scripts
/src/main/webapp/styles
/src/main/webapp/views
/src/main/webapp/images
/src/main/webapp/locales
/src/main/webapp/404.html
/src/main/webapp/index.html
/src/main/webapp/robots.txt
/src/main/webapp/favicon.ico

### Idea ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/classes/
/build/

# Gradle
/.gradle/
/gradle/
gradlew
gradlew.bat

# Logs

/log/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Eclipse
.classpath
.project
/.settings/
/bin/
