<div class="content-wrapper clear">
  <form ng-submit="reset()">
    <div class="content-row padded align-center">
      <div class="content">
        <div class="grid">
          <div class="grid-col col-2-12"></div>
          <div class="grid-col col-8-12">
            <h2>Welcome to the HBGDki Analytics Platform</h2>
            <h3 class="no-padding">Thank you for activating your account. Please reset your password below.</h3>
            <div ng-show="errors.length > 0" class="error-message-cont"><div ng-repeat="error in errors">{{error}}</div></div>
          </div>
          <div class="grid-col col-2-12"></div>
        </div>
      </div>
    </div>
    <div class="content-row white padded">
      <div class="content">
        <div class="grid gutter">
          <div class="grid-col col-2-12"></div>
          <div class="grid-col col-8-12">
            <new-password password="password" password-confirmation="passwordConfirm"></new-password>
          </div>
          <div class="grid-col col-2-12"></div>
        </div>
      </div>
    </div>
    <div class="content-row">
      <div class="content">
        <div class="grid gutter">
          <div class="grid-col col-8-12"></div>
          <div class="grid-col col-2-12">
            <div class="input-cont align-right">
              <input src="/images/reset-password-btn.png" type="image" value="SAVE" />
            </div>
          </div>
          <div class="grid-col col-2-12"></div>
        </div>
      </div>
    </div>
  </form>
</div>
