<div class="content-wrapper clear">
  <div class="content-row page-header">
    <div class="content">
      <h1>Global Health Analytics Platform (GHAP) Terms of Use and Privacy and Information Security Policy</h1>
    </div>
  </div>
  <div class="content-row white padded">
    <div class="content">
      <div class="grid">
        <div class="grid-col col-12-12 terms">
          <p><b>
          Before accessing the Global Health Analytics Platform, you must review the following Agreement and indicate your acceptance by clicking the button at the bottom of the page. Upon accepting this agreement, we will store your consent as part of your user profile.
          </b></p>
          <hr />
          <p><strong>Welcome.</strong> This Global Health Analytics Platform (“Platform”) Terms of Use and Privacy and
Information Security Policy includes both the GHAP Terms of Use ("Terms") and the GHAP
Privacy and Information Security Policy ("Privacy Policy") (collectively, “Platform Terms”).</p>
          <p>This Platform has been developed by the Bill & Melinda Gates Foundation ("Foundation") to serve as a site for data contributors, analysts and consumers engaged by the Foundation in coordinate and facilitate research on growth data as part of the Foundation’s Healthy Birth, Growth and Development Knowledge Integration initiative. This Platform is members-only web site and access is limited to individuals under contract with the Foundation --if you are not a member you are not authorized to use the Platform.This Platform has been developed by the Bill & Melinda Gates Foundation ("Foundation") to serve
as a site for data contributors, analysts and consumers engaged by the Foundation to coordinate
and facilitate research on data for a variety of the Foundation’s Global Health initiatives,
including the Foundation’s Healthy Birth, Growth and Development Knowledge Integration
initiative. This Platform is a members-only web site and access is limited to individuals
authorized by or under contract with the Foundation --if you are not a member you are not
authorized to use the Platform.</p>
          <p>LOGGING INTO OR USING THE PLATFORM WILL BE YOUR AGREEMENT TO THE TERMS AND
PRIVACY POLICY. If you do not agree, do not log-in or use the Platform.</p>
          <p>Each user of the Platform ("you") agrees to the following terms and conditions:</p>
          <h2>INCORPORATED TERMS</h2>
          <ol>
            <li><strong>Your Agreement.</strong> To the extent that these Platform Terms conflict with any written
agreement with the Bill & Melinda Gates Foundation, your agreement will control.</li>
            <li><strong>Terms.</strong> The Platform Terms include all terms and conditions of the Foundation Terms of
Use which you should review and download or print by visiting
<a href="http://www.gatesfoundation.org/about/Pages/terms-of-use.aspx">http://www.gatesfoundation.org/about/Pages/terms-of-use.aspx</a> ("Foundation Terms"). The
Foundation Terms are incorporated into and made a part of these Platform Terms by this
reference and by logging into or using the Platform you acknowledge that you have reviewed
and agree to the full Foundation Terms.</li>
            <li><strong>Use of Your Information.</strong> The Platform Privacy Policy includes all terms and conditions
of the Foundation’s Privacy & Information Security Policy which you should review and download
or print by visiting <a href="http://www.gatesfoundation.org/about/Pages/privacy-policy.aspx">http://www.gatesfoundation.org/about/Pages/privacy-policy.aspx</a>
("Foundation Privacy Policy"). The Foundation Privacy Policy is incorporated into and made a
part of this Platform Privacy Policy by this reference and by logging into or using the Platform
you acknowledge that you have reviewed and agree to the full Foundation Privacy Policy.</li>
            <li><strong>Definitions.</strong> Terms used but not defined in the Platform Terms have the definitions set
forth in the Foundation Terms or the Foundation Privacy Policy, except that "Site" (as defined in
the Foundation Terms) will include the Platform.</li>
          </ol>
          <h2>Supplemental Terms</h2>
          <p>The following terms and conditions also apply. If there is a conflict between these Platform
Terms and the Foundations standard Terms and Privacy Policy, the more specific provision of
these Platform Terms will control the conflict:</p>
          <ol start="5">
            <li><strong>Use of the Platform.</strong> You may use the Platform (including any tools and data available
on the Platform) solely for the services for which you have been engaged by the Foundation and
no other purposes. All other uses are prohibited.</li>
			<li><strong>Compliance with Federal Regulations.</strong> The system is not maintained to meet federal
regulatory requirements for creating, processing or storing electronic records such as is required
by <a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/CFRSearch.cfm?CFRPart=11">21 CFR Part 11</a> in the US. Therefore users should not use the system to create electronic
records to be included in a regulatory filing in support of the investigation or marketing of a
pharmaceutical product, biologic product, medical device or diagnostic tool. To the extent that
any analysis or modeling artefacts which are created on this system and might be used in such
a manner, users should re-create them on a compliant system before inclusion in a regulatory
filing.</li>
			<li><strong>Members Only.</strong> This Platform is for use only by persons who have been authorized by
the Foundation to use the Platform (“Members”). You represent and warrant that you are a
Member and that you have been authorized by the Foundation to receive a username and
password or other access credentials (“Access Credentials”) issued by the Foundation. You also
agree to keep your Access Credentials confidential and to prohibit anyone else from using them.
You agree that all uses of your Access Credentials will be attributed to you and you will take
legal responsibility for all such uses, including with respect to compliance with these Platform
Terms. In addition to other remedies that may be available to the Foundation under your
applicable agreement with the Foundation, the Foundation may revoke access to the Platform
at any time in the event it feels your Access Credentials have been misused or compromised.</li>
			<li><strong>Data Access.</strong> Access to datasets are managed by the Foundation. Access to portions
and functionality of the Platform may be limited based on role-based permissions linked to your
Access Credentials.</li>
			<li><strong>Data Use.</strong> Datasets provided for modeling and analysis may be used solely for the
research purposes defined by the Foundation and assigned to Members by staff at the
Foundation and your agreement with the foundation. All intermediate and final outputs
from modeling and analysis activities (e.g. scripts, models, presentations, etc.) must be
published to the Platform’s version control (Git) repository for use by Members.</li>
			<li><strong>Data Ownership.</strong> The Platform contains a combination of raw datasets that are publicly
available and have been licensed by the Foundation (where a 3rd party maintains ownership of
the data). Members who are data contributors are restricted to uploading datasets to the
Platform. Members who are data analysts provided with access to (raw and simulated) datasets
are permitted to use these data within the Platform only. Data Analysts may not replicate or
download this data to local machines, devices, or 3rd party data storage systems outside of the
Platform. Platform users may not license, sell or otherwise transfer data stored within the
Platform to a 3rd party. In addition to other remedies that may be available to the Foundation
under Data Analysts’ agreements with the Foundation, the Foundation will revoke access to the
Platform at any time in the event it believes Foundation Data have been misused or
compromised.</li>
			<li><strong>Third Party Software.</strong> The Foundation is making available to you through the Platform
certain third party software that is subject to the additional end user license terms below. This
third party software is made available to you solely for the purposes of performing the modeling
and analysis services for the Foundation, in accordance with your consulting agreement. These
terms may be added or updated from time to time.
				<table>
					<thead>
						<tr>
							<th>Provider</th>
							<th>Product</th>
							<th>Edition</th>
							<th>End User License Agreement (URL)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Adobe</td>
							<td>Acrobat</td>
							<td>DC</td>
							<td><a href="http://wwwimages.adobe.com/content/dam/Adobe/en/legal/licensesterms/pdf/Adobe_General_EULA-en_US-20150219_1429.pdf">http://wwwimages.adobe.com/content/dam/Adobe/en/legal/licensesterms/pdf/Adobe_General_EULA-en_US-20150219_1429.pdf</a></td>
						</tr>
						<tr>
							<td>Microsoft</td>
							<td>Office</td>
							<td>Office 365</td>
							<td><a href="http://products.office.com/en-us/microsoft-software-license-agreement">http://products.office.com/en-us/microsoft-software-license-agreement</a></td>
						</tr>
						<tr>
							<td>R-Studio</td>
							<td>Connect</td>
							<td>Enterprise</td>
							<td><a href="https://www.rstudio.com/about/connect-terms-of-use/">https://www.rstudio.com/about/connect-terms-of-use/</a></td>
						</tr>
						<tr>
							<td>SAS-Institute</td>
							<td>SAS</td>
							<td>Access</td>
							<td><a href="http://support.sas.com/legaldocs/UE_LGL3535_16APR2015.pdf">http://support.sas.com/legaldocs/UE_LGL3535_16APR2015.pdf</a></td>
						</tr>
						<tr>
							<td>Sage-Bionetworks</td>
							<td>Synapse</td>
							<td>N/A</td>
							<td><a href="https://s3.amazonaws.com/static.synapse.org/governance/SageBionetworksSynapseTermsandConditionsofUse.pdf?v=4">https://s3.amazonaws.com/static.synapse.org/governance/SageBionetworksSynapseTermsandConditionsofUse.pdf?v=4</a></td>
						</tr>
					</tbody>
				</table>
			</li>
			<li><strong>Personally Identifiable Health Information.</strong> No individually identifiable health
information as defined by the Health Insurance Portability and Accountability Act (HIPAA)
(“PHI”) may be submitted through the Platform. The Foundation will not accept any datasets
containing PHI. Please alert the site Administrator at <a href="mailto:GHAP_Administrator@gatesfoundation.org">GHAP_Administrator@gatesfoundation.org</a>
in the event you have concerns that any material on the Platform violates this provision or other
Platform Terms.</li>
			<li><strong>Supplemental Platform Privacy.</strong> In addition to the personal information we collect
that is described in the Foundation Privacy Policy, the Platform allows collection of additional
information as part of your account registration. To access the site, you must set up a "profile"
where you provide information such as your name, institution or affiliation and other
information about yourself.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content-row" ng-show="firstTime">
    <div class="content">
      <div class="grid gutter">
        <div class="grid-col col-4-12"></div>
        <div class="grid-col col-4-12">
          <div class="input-cont">
          	<label for="agree"><input type="checkbox" id="agree" ng-model="agree"> I agree to the GHAP Terms of Use and Privacy and Information Security Policy.</label>
            <button class="submit-button" ng-disabled="!agree" ng-click="resetPassword()">CONTINUE</button>
          </div>
        </div>
        <div class="grid-col col-4-12"></div>
      </div>
    </div>
  </div>  
</div>
