.default-button {
    background: grey;
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "DIN", helvetiva, sans-serif;
    min-width: 120px;
    padding: 0px 40px;
    height: 48px;
    transition: background-color ease .25s;
}
