#feedback {
  left: 41%;
  /*margin-left: -114px;*/

  .atlwdg-trigger {
    position: static;
    display: inline-block;
    white-space: nowrap;
    width: 160px;

    &.atlwdg-TOP {
      left: 0;
      top: 0;
    }
  }
}

.atlwdg-trigger {
  background: #205081;
  padding: 5px;
  border: 2px solid white;
  border-top: none;
  font-weight: bold;
  color: white !important;
  display: block;
  white-space: nowrap;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  cursor: pointer;

  &.atlwdg-TOP {
    left: 45%;
    top: 0;
  }
}

.modal-header {
  h3 {
    padding-bottom: 0;
    font-weight: 600;
  }
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
