<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{traceId} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REPORT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/tomcat8/reports.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/var/log/tomcat8/reports.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%X{traceId} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.ghap.project.manager.DefaultReportService" level="INFO">
        <appender-ref ref="REPORT" />
    </logger>

    <logger name="com.sun.jersey.server.wadl.generators.AbstractWadlGeneratorGrammarGenerator" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>